@model IEnumerable<ClothingWebStore.Models.Product>

@Html.AntiForgeryToken()

@if (TempData["AdminMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AdminMessage"]
    </div>
}

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by Category or manufactuer: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<p>
    Sort by price:
    <a asp-action="Index"
           asp-route-sortOrder="@ViewData["PriceSort"]"
           asp-route-searchString="@ViewData["CurrentFilter"]">
        Price @(ViewData["CurrentSort"] as string == "price" ? "↓" : "↑")
    </a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("/Views/Shared/_ItemCardsPartial.cshtml", item)
    }
       
</div>

<div class="mt-3">

    @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
    {
        <a asp-action="Index"
               asp-route-pageNumber="@i"
               asp-route-searchString="@ViewData["CurrentFilter"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               class="btn @(i == (int)ViewBag.CurrentPage ? "btn-primary" : "btn-outline-primary")">
            @i
        </a>
    }
    </div>

<script>
    function addToCart(productId) {
        fetch('/Cart/AddToCart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'RequestVerificationToken':
                    document.querySelector('input[name="__RequestVerificationToken"]')?.value
            },
            body: JSON.stringify({ productId: productId })
        })
        .then(res => res.json())
        .then(data => {
            if (data.success) {
                alert("Added to cart!");
            }
            window.location.reload();
        });
    }
</script>